body {
    font-family: 'Open Sans', sans-serif;
}

li {
    list-style: none;
    float: left;
    padding: 35px 20px;
}

.header {
    background-color:#406343;
    height: 90px;
    color:#F1E9E5;
}

.header-logo {
    font-size: 36px;
    float: left;
    padding: 20px 40px;
}

.main {
    background-color: #CEE5D0;
    height: 2000px; 
}

.footer {
    background-color: #406343;
    height: 90px;
}
