body {
    font-family: "Avenir Next";
}

li {
    list-style: none;
}

.header {
    background-color:#26d0c9;
    color: #fff;
    height: 90px;
}

.header-logo {
    font-size: 36px;
    float:left;
    padding: 20px 40px;
}

.header-list li {
    float:left;
    padding: 33px 20px;
}

.copy-container h1{
    font-size: 140px;
}

.copy-container h2{
    font-size: 60px;
}

.copy-container span{
    color:#ff4a4a;
}

.main {
    padding: 100px 80px;
    background-image: url(https://raw.githubusercontent.com/qhonitaguruhdwilestari19610096/qhonitaguruhdwilestari19610096.github.io/main/tosca.jpg);
    background-size: cover;
}

.contents{
    height:500px;
    margin-top: 0px;
}

.section-title {
    border-bottom: 2px solid #dee7ec;
    font-size: 28px;
    padding-bottom: 15px;
    margin-bottom: 50px;
}

.contents-item{
    float:left;
    margin-right: 40px;
}

.contents-item p{
    font-size: 24px;
    margin-top: 30px;
}

.contact-form {
    padding-top: 100px;
}

.contact-submit{
    background-color: #dee7ec;
    color:#889eab;
}

.footer {
    background-color: #2f5167;
    color:#fff;
    height: 120px;
    padding:40px;
}

.footer-logo {
    font-size: 32px;
    float: left;
}

.footer-list {
    float:right;
}

.footer-list li {
    padding-bottom: 20px;
}

@media(max-width: 1000px){
    .copy-container h1{
        font-size: 120px;
    }
    .copy-container h2{
        font-size: 50px;
    }
    .copy-container span{
        color:#E9A6A6;
    }
    .container{
        width: 100%;
    }
    .contents-item{
        width:100%;
    }
}

@media(max-width: 670px){
    .copy-container h1{
        font-size: 80px;
    }
    .copy-container h2{
        font-size: 30px;
    }
    .container{
        width: 100%;
    }
    .contents-item{
        width:100%;
    }
}




    
